doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title yt-down
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/app.min.css")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.justify-content-between
			a.navbar-brand(href="#") yt-down
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href="https://github.com/silvalexandre/yt-down") Source code
		main.container
			h1 yt-down
			p A simple youtube-downloader
			form#form
				.form-group
					label(for="link") Link
					input#link.form-control(type="url" placeholder="Link" value=video required)
				button(type="submit" class="btn btn-primary") Send
			.card#card
				.card-body
					.card-title
						h4#title Title
					.card-text
						p#uploaded Uploaded
						p#length Length
					a.btn.btn-primary#asmp3(href="#") Download as mp3
					span &nbsp;
					a.btn.btn-primary#asmp4(href="#") Download as mp4
					span &nbsp;
					a.btn.btn-primary#asmp4muted(href="#") Download as mp4 [no audio]
				.card-footer.text-muded The files are stored for 15 minutes.
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src="js/app.min.js")